<link href="css/shop-homepage.css" rel="stylesheet">


<div class="container">

    <div class="row">

        <div class="col-lg-3">
            {{> sidebar this }}
        </div>

        <div class="col-lg-9">
            <div class="row">
                {{#each products}}
                <div class="col-lg-4 col-md-6 mb-4 mt-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="{{this.image}}" alt="" /></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">
                                    {{this.name}}
                                </a>
                            </h4>
                            <h5 style="color: #f47442">$
                                {{this.price}}
                            </h5>
                            <p class="card-text">
                                {{this.description}}
                            </p>
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733;
                                &#9734;</small>
                        </div>


                        <div class="card-footer">
                            <a href="" class="btn btn-primary btn-add-to-cart" data-product-id="{{this._id}}">Add to
                                cart</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</div>

<script>
    $(".btn-add-to-cart").click(evt => {
        evt.preventDefault()
        if (!localStorage.getItem("token")) {
            window.location.href = "/account/login"
        } else {
            const price = $(evt.target).data("price")
            const productId = $(evt.target).data("product-id")
            const cart = JSON.parse(localStorage.getItem("cart")) || []
            const productFound = cart.find(item => item.productId === productId)
            if (productFound) {
                productFound.quantity++
                productFound.price += price
            } else {
                cart.push({
                    productId,
                    quantity: 1,
                    price
                })
            }
            localStorage.setItem("cart", JSON.stringify(cart))
        }
    })
</script>