<div class="container mt-3">
  <h3 class="mb-3 text-primary">Danh sách sinh viên</h3>
  <a href="/add" class="btn btn-success mb-2">Thêm sinh viên</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Họ tên</th>
        <th>Điểm</th>
        <th>Tuổi</th>
        <th>Giới tính</th>
        <th>Địa chỉ</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each students}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.gpa}}</td>
          <td>
            {{this.age}}
          </td>
          <td>{{getGender this.gender}}</td>
          <td>{{this.address}}</td>
          <td>{{this.email}}</td>
          <td>
            <a class="text-decoration-none" href="#">Chỉnh sửa</a>
            |
            <a href="#" class="text-decoration-none">Xóa</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>